<div class="container">
  <mat-toolbar color="primary">
    <span>Z.E. Vehicles</span>
    <span class="example-spacer"></span>
    <app-user-session />
  </mat-toolbar>

  <mat-sidenav-container style="display: inline;">
    <mat-sidenav mode="side" opened>
      <mat-list role="list">
        <mat-list-item i18n role="listitem" routerLink="/brands">Brands</mat-list-item>
        <mat-list-item i18n role="listitem" routerLink="/models">Models</mat-list-item>
        <!--<mat-list-item role="listitem" routerLink="">
          <span class="material-symbols-outlined">
            directions_car
          </span>&nbsp;Vehicles
        </mat-list-item>-->
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>