<h1 class="box" i18n>Models</h1>

<div class="example-button-row">
  <div class="example-flex-container">
    <div class="example-button-container">
      <button mat-fab color="primary" aria-label="Create new vehicle model" routerLink="/model">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>

<table mat-table *ngIf="dsModels$ | async as dsModels" [dataSource]="dsModels" class="mat-elevation-z8">

  <!-- Model name column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell i18n *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let model"> {{model.name}} </td>
  </ng-container>

  <!-- Brand name column -->
  <ng-container matColumnDef="brand">
    <th mat-header-cell i18n *matHeaderCellDef>Brand</th>
    <td mat-cell *matCellDef="let model"> {{model.brand}} </td>
  </ng-container>

  <!-- Type column -->
  <ng-container matColumnDef="type">
    <th mat-header-cell i18n *matHeaderCellDef>Type</th>
    <td mat-cell *matCellDef="let model"> {{model.type}} </td>
  </ng-container>

  <!-- Energy Column -->
  <ng-container matColumnDef="energy">
    <th mat-header-cell i18n *matHeaderCellDef>Energy</th>
    <td mat-cell *matCellDef="let model"> {{model.energy}} </td>
  </ng-container>

  <!-- Action(s) column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let model">
      <button mat-icon-button aria-label="Show card with model detail"
      (click)="onSelect(model)">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
    [ngClass]="{highlighted: selection.isSelected(row)}"
    class="element-row"></tr>
</table>
