.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-bar {
  display: flex;
  justify-content: right;
  background-color: beige;
  width: 95%;
  margin: 10px;
  padding: 10px;
}

table {
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 12px;
}

h1 {
  color: black;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.element-row {
  position: relative;
}

.element-row:hover {
  background: #636363;
}