<div class="container">
    <h1 mat-dialog-title>
        <span i18n>Model</span> {{ model.brand }} {{ model.name }}</h1>
    <hr>
    <div mat-dialog-content>
        <table style="width: 100%;">
            <tr>
                <th i18n>Type</th>
                <th i18n>Energy</th>
            </tr>
            <tr>
                <td style="text-align: center;">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" [fontIcon]="getVehicleTypeIconName()"></mat-icon>
                </td>
                <td style="text-align: center;">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" [fontIcon]="getEnergyIconName()"></mat-icon>
                </td>
            </tr>
        </table>
    </div>
    <mat-dialog-actions class="actions-bar">
        <button i18n mat-button mat-dialog-close>Close</button>
    </mat-dialog-actions>
</div>